body{
   
    /* background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  
    background: linear-gradient(to right, #4ca2cd, #67B26F);  */
    background-image: url(img/s/tec3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}
img{
    height: 13em;
}
h1{
    text-decoration-color: black;
}
h5{
    font-size: 27px;
    color: black;
    text-decoration: none;
}
ul li{
    font-size: 20px;
}